<h1><%= @pet.name %></h1>
<h2>My own pet and notifications here</h2>

<%= link_to edit_pet_path(@pet) do %>
<p>Edit <%= @pet.name %></p>
<% end %>

<%= link_to "Delete this pet", pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this pet?" } %>
<br>
<br>
<%= link_to "See all pets", pets_path %>
<br>
<br>
<%= link_to "See Foods", pet_foods_path(@pet) %>
<br>
<br>
<%= link_to "See allergies", pet_allergies_path(@pet) %>
<br>
<br>
<%= link_to "See Professionals", pet_professionals_path(@pet) %>
<br>
<br>
<%= link_to "See Services", pet_services_path(@pet) %>
<br>
<br>
<%= link_to "See diseases", pet_diseases_path(@pet) %>
<br>
<br>
<%= link_to "See medications", pet_medications_path(@pet) %>
<br>
<br>
<%= link_to "See vaccines", pet_vaccines_path(@pet) %>
