<h1>Formulário para adicionar uma nova medicação</h1>

<%= simple_form_for [@pet, @medication] do |f| %>
  <%= f.input :name, :label => 'Nome' %>
  <%= f.input :purpose_medication, :label => 'Finalidade da Medicação' %>
  <%= f.input :administration_date, :label => 'Data de Administração' %>
  <%= f.input :frequency, :label => 'Frequência' %>
  <%= f.input :expiration_date, :label => 'Data de Validade da Medicação' %>
  <%= f.input :comment, :label => 'Comentário' %>
  <%= f.button :submit, 'Adiciona essa medicação' %>
<% end %>

<%= link_to "Voltar para todas as medicações", pet_medications_path(@pet) %>
