<h1>Formulário para editar a doença</h1>

<h3><%= @disease.name %></h3>
<h4><%= @disease.category %></h4>
<h4><%= @disease.comment %></h4>
<hr>

<%= simple_form_for [@pet, @disease] do |f| %>
  <%= f.input :name, :label => 'Nome' %>
  <%= f.input :category, collection: ['Crônica', 'Aguda', 'Outro'], :label => 'Crônica ou Aguda' %>
  <%= f.input :comment, :label => 'Comentário' %>
  <%= f.button :submit, "Edit this allergy" %>
<% end %>
