<h1>My allergies</h1>

<% @allergies.each do |allergy| %>
  <h2><%= allergy.name %></h2>
  <p><%= allergy.comment %></p>

  <%= link_to "Edite essa alergia", edit_allergy_path(allergy) %>
  <br>

  <%= link_to allergy_path(allergy), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this allergy?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>

  <hr>

<% end %>

<%= link_to "Adiciona uma alergia", new_pet_allergy_path(@pet) %>
<br>

<%= link_to "Go back to the Pet Show", pet_path(@pet) %>
